.inputWrapper {
    height: 40px;
    width: 100px;
    perspective: 200px;
    border-bottom:3px solid red;
    margin:10px;
    
}
.w {
    width: 100%;    
    height: 100%;
    border-radius: 10px;
    transform-origin:0 100%;
    transition: transform 1s;
    box-shadow: 1px 1px 2px black;
    // box-shadow: 1px 1px 3px black;
}
.w_focus {   
    transform: rotateX(90deg);
   
}
.w_blur {
    transform: rotateX(0deg)
}
.input {
    width: 100%;
    height: 100%;
    border:0;
    outline:0;
    border-radius: 10px;
    background: red;
    
}
.input_focus {
    // border:1px solid red;
}
.input_blur {
    // border:none;
}