.inputWrapper {
    height: 40px;
    width: 100px;
    perspective: 200px;
    border-bottom:3px solid red;
    margin:10px;
}
.w {
    width: 100%;    
    height: 100%;
    border-radius: 10px;
}
.w_focus {
    transform-origin:0 100%;
    transition: all 1s;
    transform: rotateX(90deg)   
}
.w_blur {
    transform-origin:0 100%;
    transition: all 1s;
    transform: rotateX(0deg)
}
.input {
    width: 100%;
    height: 100%;
    border:0;
    outline:0;
    border-radius: 10px;
    background: red;
}
.input_focus {
    // border:1px solid red;
}
.input_blur {
    // border:none;
}