@import './default.scss';

.container {
    height: 100vh;
    background-color: var(--main-bg-color);
}
.qpp {
    height: 100vh;
    background-color: var(--main-bg-color);
}

.Header{
    background-color: red;
}
.Layout {
    height: 100%;
}
.Main{
    // min-height:500px;
}
.Aside {
    width: 50px;
    border:1px solid black;
    height: 100%;
}
.Footer{
    background-color: red;
}